<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
   <div ng-controller="articleController" ng-init="getAllComponents()">
       Artikelnamn: <input type="text" class="form-control" data-ng-model="article.Name" />

       <h1>Välj komponenter till artikeln</h1>

        <select class="form-control" ng-model="selectedOption" ng-options="v.name for v in components ">
           
        </select> 
       <input type="number" min="1" ng-model="articleComponents.componentamount" />     
        <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="saveComponent()">Lägg till komponent i lista</button> 
        <table>
            <thead>
                <tr>
                    <th>Komponenter</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="component in selectedComponents track by $index">
                    <td hidden="hidden">{{component.id}}</td>
                    <td>{{component.name}}
                        <button class="glyphicon glyphicon-remove" type="submit" ng-click="deleteSelectedComponent(item)"></button>
                    </td>                    
                </tr>
            </tbody>
        </table>
        <button class="btn btn-lg btn-info btn-block" type="submit" ng-click="saveArticle()">Spara artikel</button>
       <div ng-init="getAllArticles()">
           <br />
           <hr />
           <h2>Artiklar</h2>
           <table>
               <tr ng-repeat="article in articles">
                   <td hidden="hidden">{{article.Id}}</td>
                   <td>
                       {{article.name}}
                       <a class="glyphicon glyphicon-edit" ng-href="#/articleEdit/{{article.id}}"></a>
                   </td>
               </tr>
           </table>
           <br />
       </div>
    </div>
</body>
</html>
