<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>

    <div id="controllerDiv" ng-controller="articleOutBoundController" ng-init="getallArticles()">
        <h1>Utleverans</h1>
        <select name="article" class="col-lg-10" ng-model="article.id"
                ng-options="v.id as v.name for v in articles">

        </select>
        <br />
        <input type="number" min="1" ng-model="article.amount" />
        <button class="btn btn-lg btn-info btn-block" type="submit" ng-click="articleOutBounds()">Utleverans!</button>
        </div>
</body>
</html>
