<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <form class="form-horizontal" name="componentForm">
        <div class=".col-xs-6 .col-md-4">
            <div id="controllerDiv" ng-controller="componentController" ng-init="getAllComponents()">

                <hr />

                <table>
                    <thead>
                        <tr>
                            <th>Artikelnummer</th>
                            <th>Namn</th>
                            <th>Antal</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr ng-repeat="component in components ">
                            <td hidden="hidden">{{component.id}}</td>
                            <td>{{component.articleNumber}}</td>
                            <td>{{component.name}}</td>
                            <td>{{component.amount}}<input type="number" data-ng-model="updateComponent.quantity" /></td>
                            <td>
                                <button ng-click="UpdateQuantity($index)">Spara</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>

</body>
</html>
