<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <div id="editCompWrap" ng-controller="editComponentController" ng-init="editComponent()">
        <table>
            <thead>
                <tr>
                    <th>Artikelnummer</th>
                    <th>Namn</th>
                    <th>Ledtid</th>
                    <th>Antal</th>
                    <th>Pris</th>
                    <th>Inmatning</th>
                    <th>Ta Bort komponent</th>

                </tr>

            </thead>

            <tbody>
                <tr>
                    <td hidden="hidden">{{component.id}}</td>
                    <td>{{component.articleNumber}}</td>
                    <td>{{component.name}}</td>
                    <td>{{component.orderTime}}</td>
                    <td>{{component.amount}}</td>
                    <td>{{component.price}} </td>

                    <td><input type="number" ng-model="Update.amount" /></td>
                    <td><button id="taBortKomponent" class="glyphicon glyphicon-trash" type="submit" ng-click="deleteComponent(id)"></button></td>
                </tr>
            </tbody>
        </table>
        <!--<button class="btn btn-lg btn-info btn-block" type="submit" ng-click="updateInvFunction()">Korrigera Lagersaldo</button>-->
        <button id="läggTill" class="btn btn-lg btn-info btn-block" type="submit" ng-click="addComponentAmount()">Lägg tills</button>

        <a id="editCompBackButton" href="#/component" class="btn btn-lg btn-info btn-block">Tillbaka</a>
    </div>

    <div id="korrigeraLagerSadldo">

        <button id="KorrigeraLagersaldo" class="btn btn-lg btn-info btn-block" type="submit" ng-click="updateInvFunction()">Korrigera Lagersaldo</button>
    </div>




</body>
</html>
