<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <div ng-controller="editArticleController" ng-init="getComponentsByArticle()">
        <h1>
            {{article.name}}
        </h1>
        <table border="1">

            <tbody>



            <thead>
                <tr>

                    <th>Komponenter</th>
                    <th>Antal</th>
                </tr>
            </thead>
            <tr ng-repeat="component in components">
                <td hidden="hidden">{{component.id}}</td>
                <td>{{component.name}}</td>
                <td>{{component.componentAmount}}</td>
            </tr>
        </table>
        <button class="glyphicon glyphicon-trash" type="submit" ng-click="deleteArticle()"></button>
    </div>
    <a id="editArticle" href="#/article" class="btn btn-lg btn-info btn-block">Tillbaka</a>
</body>
</html>
